#viz {
  text-align: center
}

body { 
	background-color: #333;
	color: #ccc
}

h1, fieldset legend, label, th, td {
	color: #ccc
}

h1 {
	text-shadow: 0 1px 0 #eee;
	font-size: 6em;
	line-height: 1.618;
	margin-top: -2px
}

legend, th {
	text-shadow: 0 1px 1px #eee
}

#location form fieldset legend {
	padding-top: 8px
}
#nutrition form fieldset legend {
	padding-top: 27px
}

#location form fieldset legend,
#nutrition form fieldset legend {
	padding-left: 0 !important
}

label[for="stateSelect"] {
	text-align: left !important;
	float: right !important;
	margin-right: 90px !important;
	margin-top: -7px;
	width: 0 !important
}

#stateSelect {
	margin-top: -9px;
	color: #444
}

#location .input,
#nutrition .input { 
	margin-left: 0 !important
}

#inputs-list {
	margin-bottom: 6px
}

#nutrients {
	margin-top: 136px
}




