#viz {
  text-align: center;
}

body { 
	background-color: #333;
	color: #ccc;
}

h1, fieldset legend, label, th, td {
	color: #ccc;
}

h1 {
	text-shadow: 0 1px 0 #eee;
	font-size: 6em;
}

legend, th {
	text-shadow: 0 1px 1px #eee;
}
